<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @term.name %>
  <br />
  <% if !@term.definitions.nil? %>
    <b>Definitions:</b>
    <% @term.definitions.each do |d| %>
      <li><b>For <%= d.group.name.pluralize %>:</b> <%= d.content %></li>
    <% end %>
  <% else %>
    <b>There are no definitions for this term.</b>
  <% end %>
  <b>Tags:</b>
  <%= @term.tags %>
</p>


<%= link_to 'Edit', edit_term_path(@term) %>
<%= link_to 'Back', terms_path %>
